.DS_Store
/node_modules
/.github/actions/*/node_modules
/packages/*/node_modules
/packages/*/LICENSE
*.log
*.cache
/build
/.eslintcache
/browser.js
/browser-polyfill.js
/runtime.js
coverage
dist
/.package.json
package-lock.json
!/.github/actions/*/package-lock.json
/packages/*/lib
.idea/
/.changelog
.vscode/
@g2i